<div class="container">
  <table class="table" *ngIf="pokemonPageDTO">
    <thead>
      <tr>
        <th scope="col">PokéName</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of  pokemonPageDTO.results">
        <th scope="row">{{pokemon.name}}</th>
        <td>{{pokemon.url}}</td>
      </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item " [class.disabled]="isPreviousBlocked()" (click)="previousPage()">
      <a class="page-link">Previous</a>
    </li>
    <li *ngIf="!isPreviousBlocked()" class="page-item"><a class="page-link" (click)="previousPage()">{{previousPagenmbr}}</a></li>
    <li class="page-item active"><a class="page-link ">{{page}}</a></li>
    <li  *ngIf="!isNextBlocked()"class="page-item"><a class="page-link" (click)="nextPage()">{{nextPagenmbr}}</a></li>
    <li class="page-item" [class.disabled]="isNextBlocked()" (click)="nextPage()">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>

<!-- <button type="button" (click)="previousPage()">back</button> -->