<div class="container">
  <table class="table" *ngIf="pokemonPageDTO">
    <thead>
      <tr>
        <th scope="col">PokéName</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of  pokemonPageDTO.results">
        <th scope="row">{{pokemon.name| titlecase}}</th>
        <td><button class="btn btn-lg btn-outline-primary" (click)="open(content,pokemon.url)">More</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item " [class.disabled]="isPreviousBlocked()" (click)="previousPage()">
      <a class="page-link">Previous</a>
    </li>
    <li *ngIf="!isPreviousBlocked()" class="page-item"><a class="page-link" (click)="previousPage()">{{previousPagenmbr}}</a></li>
    <li class="page-item active"><a class="page-link ">{{page}}</a></li>
    <li *ngIf="!isNextBlocked()" class="page-item"><a class="page-link" (click)="nextPage()">{{nextPagenmbr}}</a></li>
    <li class="page-item" [class.disabled]="isNextBlocked()" (click)="nextPage()">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth" *ngIf="pokemon">{{pokemon.name| titlecase}}</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>